Package: me.conorthedev.lockwidgets
Name: LockWidgets
Depends: mobilesubstrate, ws.hbang.common (>= 1.14), com.rpetrich.rocketbootstrap (>= 1.0.2), firmware (>= 11.0)
Version: 2.0
Architecture: iphoneos-arm
Description: Add your favourite widgets to your lockscreen!
Maintainer: ConorTheDev <con0r.b@protonmail.com>
Author: ConorTheDev <con0r.b@protonmail.com>
Section: Tweaks
Icon: https://repo-cdn.dynastic.co/249611208846475265.fdd5c6a336e3762bd34a54af1275d1b0-256